{% extends 'presentation/base.html' %}



{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
    {% for subject in subjects %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'presentations' subject.pk %}">
            <div class="card m-3 p-4"  style="background: {{ subject.color }};">
               <h3 class="text-center m-0">{{ subject.title }}</h3>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}



